<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>IOS app生成</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/font_780494_gi02bcyvmy5.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav role="navigation" class="main_nav">
			<div class="container">
				<div class="login-nav">
						<div class="navbar-header">
							<a class="logo" href="#">
													<img src="__IMG__/images/logo.png">
							</a>
						</div>
						<div class="login-in">
											<!-- <li><a href="javascript:void (0);">欢迎您,{$Request.session.uname}</a></li> -->
												<div class="notification fl">
															<span class="iconfont icon-msg"></span>
															<span class="ms-badge">1</span>
												</div>
												<div class="login-user clear fl">
															<span class="fl">
																	{$Request.session.uname}
															</span>
															<span class="iconfont icon-arrow-bottom fl hidden-xs">
															</span>
															<div class="user-wrap">
																		<dl>
																				<!-- <dd>
																						<a href="">我的订单</a>	
																				</dd> -->
																				<dd>
																						<a href="">修改密码</a>
																				</dd>
																				<dd>
																						<a href="/index/Main/loginOut">退出</a>	
																				</dd>
																		</dl>
															</div>
												</div>
						</div>
				</div>
			</div>
		</nav>
	</header>
<section>
      <aside class="layout-side">
        <ul class="side-menu">
							<li class="menu-item active"><a href="/index/AList">IOS APP生成</a></li>
							<li class="menu-item"><a href="/index/Userorderlist">我的订单</a></li>
        </ul>
      </aside>
      <section class="layout-main">
        <div class="layout-main-body">
          <iframe class="body-iframe" name="iframe0" width="100%" height="99%" src="/index/AList" frameborder="0" data-id="home.html" seamless></iframe>
        </div>
      </section>
</section>
<script>
				$(".layout-side .side-menu li a").click(function(e){
								e.preventDefault();
								$(".body-iframe").attr('src',$(this).attr('href'));
				})
</script>
</body>
</html>