<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<title>兔子影视-IOS程序安装</title>
</head>

<body>
<script type="text/javascript">
    var system = {};
    var p = navigator.platform;
    var u = navigator.userAgent;
    system.win = p.indexOf("Win") == 0;
    system.mac = p.indexOf("Mac") == 0;
    system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
    if (system.win || system.mac || system.xll) {
      if (u.indexOf('Windows Phone') > -1) { 
      }else {
           window.location.href = "/index/Install/Notice";
      }
    }
</script>
<script type="text/javascript">
  // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器
  var useragent = navigator.userAgent;
  if (useragent.match(/MicroMessenger/i) == 'MicroMessenger') window.location.href = "/index/Install/Notice";
</script>
    <img src="__IMG__/images/2.jpg" alt="" width="100%" /></a>
    <a href="javascript:;" id="downBtn"><img src="__IMG__/images/1.jpg" alt="" width="100%" /></a>
    <p style="text-align: center;"><img src="__IMG__/images/jc.png?s=v1.2" alt="" width="90%"></p>
    <div style="text-align:center;">
    </div>
</body>
<script>
      $(function(){
        function getQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }
        $("#downBtn").on('click',function(){
              $uuid = getQueryString('uuid');
              window.location.href='/index/Install/downLoad?uuid='+$uuid;
        })
      })
</script>
</html>