<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/0.4.1/weui.css">
  <title>抱歉，出错了</title>
</head>
<body>
    <div class="weui_msg">
        <div class="weui_icon_area">
          <i class="weui_icon_info weui_icon_msg"></i>
          </div>
          <div class="weui_text_area">
          <h4 class="weui_msg_title">{$msg}</h4>
        </div>
    </div>
</body>
</html>


