<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>IOS app生成</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css"/>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">IOS工厂</a>
	</div>
	<div>
		<ul class="nav navbar-nav pull-right">
			<li class="active"><a href="javascript:void (0);" data-toggle="modal" data-target="#loginModal">登录</a></li>
			<li><a href="javascript:void (0);" data-toggle="modal" data-target="#regModal">注册</a></li>
		</ul>
	</div>
	</div>
</nav>
<div class="banner">
    <img src="__IMG__/images/banner-4.jpg" alt="" class="img-responsive"/>
</div>
<div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="__IMG__/images/tg-33.png"
                             alt="">
                        <div class="caption">
                            <h3 class="text-center">在线自助操作</h3>
                            <p>
                                自助式操作
                                根据自身所需配置功能，1分钟生成
                            </p>
                            <!--<p>-->
                                <!--<a href="#" class="btn btn-primary" role="button">-->
                                    <!--按钮-->
                                <!--</a>-->
                                <!--<a href="#" class="btn btn-default" role="button">-->
                                    <!--按钮-->
                                <!--</a>-->
                            <!--</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="__IMG__/images/tg-34.png"
                             alt="">
                        <div class="caption">
                            <h3 class="text-center">突破各种限制</h3>
                            <p>
                                不用越狱、不用企业证书
                                不用上架appStore、即装即用
                            </p>
                            <!--<p>-->
                            <!--<a href="#" class="btn btn-primary" role="button">-->
                            <!--按钮-->
                            <!--</a>-->
                            <!--<a href="#" class="btn btn-default" role="button">-->
                            <!--按钮-->
                            <!--</a>-->
                            <!--</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="__IMG__/images/tg-35.png"
                             alt="">
                        <div class="caption">
                            <h3 class="text-center">兼容所有苹果机型</h3>
                            <p>
                                支持所有苹果机型
                                完美兼容各个ios版本
                            </p>
                            <!--<p>-->
                            <!--<a href="#" class="btn btn-primary" role="button">-->
                            <!--按钮-->
                            <!--</a>-->
                            <!--<a href="#" class="btn btn-default" role="button">-->
                            <!--按钮-->
                            <!--</a>-->
                            <!--</p>-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="__IMG__/images/tg-36.png"
                             alt="">
                        <div class="caption">
                            <h3 class="text-center">同步更新</h3>
                            <p>
                                H5网站内容更新后，
                                IOS APP自动同步，无需重新打包
                            </p>
                            <!--<p>-->
                            <!--<a href="#" class="btn btn-primary" role="button">-->
                            <!--按钮-->
                            <!--</a>-->
                            <!--<a href="#" class="btn btn-default" role="button">-->
                            <!--按钮-->
                            <!--</a>-->
                            <!--</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!---注册模态框-->
<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">用户注册</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="regForm">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="uname"  placeholder="请输入您的用户名(中文、英文、数字皆可)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="upwd" placeholder="请输入密码，密码长度不能少于6位">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="upwd2"  placeholder="请再次输入密码">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<div class="col-sm-offset-2 col-sm-10">-->
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox">请记住我-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                <button type="button" class="btn btn-primary" id="regBtn">注册</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--登陆模态框-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="loginModalLabel">用户登录</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="loginForm">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  placeholder="请输入您的用户名" name="uname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control"  placeholder="请输入密码" name="upwd">
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox">请记住我-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                <button type="button" class="btn btn-primary" id="loginBtn">登录</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
       $(function(){
             //用户注册
             $("#regBtn").on('click',regFun);   
             //用户登录
             $("#loginBtn").on('click',loginFun);
        
             $('#regForm input[name=uname]').blur(checkUname);
             $('#regForm input[name=upwd]').blur(checkPwd);
             $('#regForm input[name=upwd2]').blur(checkPwd2)
       }) 
       //用户名验证
       function checkUname(){
            var uname = $.trim($("#regForm input[name=uname]").val());
            if(!uname){
                toastr.error('用户不能为空!');
                return false;
            }
            else if(uname.length>10){
               toastr.error('用户不能超过10位字符!');
               return false;     
            }
            else{
                return true;
            }
       }
       function checkPwd(){
           var pwd = $.trim($("#regForm input[name=upwd]").val());
           if(!pwd){
               toastr.error('密码不能为空!'); 
           }
           else{
               return true;
           }
       }
       function checkPwd2(){
            var pwd = $.trim($("#regForm input[name=upwd]").val());
            var pwd2 = $.trim($("#regForm input[name=upwd2]").val());
            if(pwd !== pwd2){
                toastr.error('两次输入密码不一致!');
                return false;
            }
            else{
                return true;
            }
       }
       function regFun(){
            //toastr.info('Are you the 6 fingered man?')
            if(checkUname()&&checkPwd()&&checkPwd2()){
                var data=$("#regForm").serialize();
                $.ajax({
                    url:'/index/index/Reg',
                    type:'POST',
                    data:data,
                    success:function(data){
                            if(data.code==200){
                                toastr.info(data.msg);
                                setTimeout(function(){
                                    location.href='/index/Main';
                                },1000);  
                               
                            }
                            else{
                                toastr.error(data.msg);
                            }                 
                    }
                })
            }
       }
       function loginFun(){
           var data=$("#loginForm").serialize();
           $.ajax({
               url:'/index/index/login',
               type:'POST',
               data:data,
               success:function(data){
                    if(data.code==200){
                            //toastr.info(data.msg);
                            location.href='/index/Main';
                    }
                    else{
                            toastr.error(data.msg);
                    }
               }
           })
       }
</script>
</body>
</html>