<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-fileinput.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/js/bootstrap-fileinput.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="__PUBLIC__/js/common.js"></script>
</head>
<body>
    <div class="">
        <ul class="breadcrumb">
          <li><a href="javascript:;">创建IOS-APP</a></li>
        </ul>
    </div>
    <div class="form container">
      <form class="form-horizontal" role="form" id="appForm" enctype="multipart/form-data">
        <div class="form-group">
          <label class="col-sm-2 control-label">app名字</label>
          <div class="col-sm-10">
            <input class="form-control" id="focusedInput" type="text" value="" placeholder="app名称不能超过8个字符" name="appName">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-2 control-label" for="inputSuccess">打包的网址链接</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSuccess" placeholder="http或https链接" name="url">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-2 control-label" for="inputSuccess">安卓下载地址</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="http或https链接(选填)" name="androidUrl">
          </div>
        </div>
        <div class="form-group has-warning">
          <label class="col-sm-2 control-label" for="inputWarning">app图标</label>
          <div class="col-sm-10">
              <div class="fileinput fileinput-new" data-provides="fileinput"  id="exampleInputUpload">
                <div class="fileinput-new thumbnail" style="width: 200px;height: auto;max-height:150px;">
                    <img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="__PUBLIC__/images/noimage.png" alt="" />
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;" id="picWrap"></div>
                <div>
                <span class="btn btn-primary btn-file">
                    <span class="fileinput-new">选择文件</span>
                    <span class="fileinput-exists">换一张</span>
                    <input type="file" name="pic" id="pic" accept="image/gif,image/jpeg,image/x-png">
                </span>
                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                </div>
              </div>
            <p class="help-block">图片格式支持jpg,png，图片大小不超过30KB！图片大小不超过30KB！！图片大小不超过30KB！！！ 200*200的尺寸</p>
          </div>  
        </div>
        <div class="form-group has-error">
          <label class="col-sm-2 control-label" for="inputError"></label>
          <div class="col-sm-10">
                <button class="btn btn-default" id="FormSubmit">确认提交</button>
          </div>
        </div>
      </form>
    </div> 
<style>
       .toast-center-center {
          top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -150px;
        }
</style>    
<script>
      toastr.options.positionClass = 'toast-center-center';
      var urlencode = encodeURIComponent(window.location.protocol+"//"+window.location.host);
      $("input[name=appName]").blur(checkAppName);
      $("input[name=url]").blur(checkUrl);
      $("#FormSubmit").on('click',function(e){
            e.preventDefault();
            //debugger;
            if(!(checkAppName()&&checkIsupload()&&checkUrl()))return false;
            $.ajax({
                url:'http://api.weibo.com/2/short_url/shorten.json?source=2849184197&url_long='+urlencode,
                type:'GET',
                dataType:'jsonp',
                cache:false,
                success:function(res){
                      //console.log(res);
                      var data = new FormData($("#appForm")[0]);
                      data.append('url_short',res.data.urls[0].url_short);
                      var result=  $("#picWrap img").attr('src');
                      var base64=   result.substr(result.indexOf('base64')+7);
                      data.append('appPic',base64);
                      $.ajax({
                          url:'/index/Createapp/Uploadappdata',
                          type:'post',
                          data:data,
                          async: false,
                          cache: false,
                          contentType: false,
                          processData: false,
                          success:function(res){
                              if(res.code == 200){
                                  toastr.info(res.msg);
                                  setTimeout(function(){
                                        location.href='/index/Alist';
                                  },500)
                              }
                          },
                          error:function(){

                          }
                      })
                }
            })
      })
      function checkAppName(){
            var appName=$.trim($("input[name=appName]").val());
             if(!appName){
                  toastr.error('App名字不能为空！');
                  return false;
             }
             else if(appName.length>8){
                  toastr.error('App名字不能超过8个字符');
                  return false;
             } 
             else{
                return true;
             }
      } 
      function checkUrl(){
            var url = $.trim($("input[name=url]").val());
            //判断是否是正确的http网址
            var reg=/^([hH][tT]{2}[pP]:\/\/|[hH][tT]{2}[pP][sS]:\/\/)(([A-Za-z0-9-~]+)\.)+([A-Za-z0-9-~\/])+$/;
            if(!url){
                toastr.error('http或https url地址不能为空！');
                return false;
            }
            else if(!reg.test(url)){
                toastr.error('输入网址不是以http://https://开头，或者不是网址！');
                return false;
            }
            else{
                return true;
            }
      }
      function checkIsupload(){
            var file = $.trim($("input[name=pic]").val());
            if(!file){
                toastr.error('请上传图片!');
                return false;  
            }
            else{
                return true;
            }
      }
</script>    
</body>
</html>