<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/bootstrap-fileinput.css">
  <link rel="stylesheet" href="__PUBLIC__/css/main.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="__PUBLIC__/js/bootstrap-fileinput.js"></script>
</head>
<body>
    <div class="">
        <ul class="breadcrumb">
          <li><a href="javascript:;">创建IOS-APP</a></li>
        </ul>
    </div>
    <div class="form container">
      <form class="form-horizontal" role="form" id="appForm" enctype="multipart/form-data">
        <div class="form-group">
          <label class="col-sm-2 control-label">app名字</label>
          <div class="col-sm-10">
            <input class="form-control" id="focusedInput" type="text" value="" placeholder="要生成的app名称" name="appName">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-2 control-label" for="inputSuccess">打包的网址链接</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSuccess" placeholder="http或https链接" name="url">
          </div>
        </div>
        <div class="form-group has-warning">
          <label class="col-sm-2 control-label" for="inputWarning">app图标</label>
          <div class="col-sm-10">
              <div class="fileinput fileinput-new" data-provides="fileinput"  id="exampleInputUpload">
                <div class="fileinput-new thumbnail" style="width: 200px;height: auto;max-height:150px;">
                    <img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="__PUBLIC__/images/noimage.png" alt="" />
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;" id="picWrap"></div>
                <div>
                <span class="btn btn-primary btn-file">
                    <span class="fileinput-new">选择文件</span>
                    <span class="fileinput-exists">换一张</span>
                    <input type="file" name="pic" id="pic" accept="image/gif,image/jpeg,image/x-png">
                </span>
                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                </div>
              </div>
            <p class="help-block">图片格式支持jpg,png，图片大小不超过30KB！图片大小不超过30KB！！图片大小不超过30KB！！！ 200*200的尺寸</p>
          </div>  
        </div>
        <div class="form-group has-error">
          <label class="col-sm-2 control-label" for="inputError"></label>
          <div class="col-sm-10">
                <button class="btn btn-default" id="FormSubmit">确认提交</button>
          </div>
        </div>
      </form>
    </div> 
<script>
      var urlencode = encodeURIComponent(window.location.protocol+"//"+window.location.host);
      $("#FormSubmit").on('click',function(e){
            e.preventDefault();
            $.ajax({
                url:'http://api.weibo.com/2/short_url/shorten.json?source=2849184197&url_long='+urlencode,
                type:'GET',
                dataType:'jsonp',
                cache:false,
                success:function(res){
                      //console.log(res);
                      var data = new FormData($("#appForm")[0]);
                      data.append('url_short',res.data.urls[0].url_short);
                      var result=  $("#picWrap img").attr('src');
                      var base64=   result.substr(result.indexOf('base64')+7);
                      data.append('appPic',base64);
                      $.ajax({
                          url:'/index/Createapp/Uploadappdata',
                          type:'post',
                          data:data,
                          async: false,
                          cache: false,
                          contentType: false,
                          processData: false,
                          success:function(res){

                          },
                          error:function(){

                          }
                      })
                }
            })
      })
     
</script>    
</body>
</html>